body {
    width: 100%;
    background: #000;
    height: 100%;
    overflow-x: hidden;
  }
  
  /* title oldal */
  .fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }
  
  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }
  
  .crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
  }
  
  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }
  
  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }

  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
      background-color:#000;
    }
  }

  /* sidebar */
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-weight: bolder;
  }
  
  .sidebar a {
    display: block;
    color: yellow;
    padding: 14px;
    text-decoration:none;
  }
   
  .sidebar a:hover {
    background-color: #555;
    color: white;
  }
  
  div#main {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100%;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div#main {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  /* ships and vehicles oldal */
  .shipsh1{
    border-bottom: solid 5px orange;
  }

  .ships:hover{
    transform: scale(1.1);
  }

  @media screen and (max-width: 1000px) {
    .ships:hover{
      transform: scale(1);
    }
  }
